body{background-color:#404040;}
body header{background-color:#6DBDD6;}
/*nav {color:#00ff00;text-indent:50px;}*/
a:link{color:#B71427;}
a:visited{color:#FFE658;}
a:hover{color:#6DBDD6;}
ol {list-style-type: none;}
nav ol li{display:inline;float:left;width:10%;height:20px;border: solid thin;margin:1%}
body p{color:#00ff00}
body footer{background-color:#6DBDD6;}
footer{position:fixed;bottom:0px;width:100%;border:solid medium black;text-align:center;}
#title{font-size:25px;color:#FFE658;}
#banner{color:#FFE658;}
ol.products li{float:left;width:25%;height:50%;border:solid thin;font-size:18px; margin-left:10%;margin-right:10%; margin-top:10%;left:10%;top:10%;}
